{% extends "base.html" %}
{%block title%}Меню{%endblock%}
 {%block content%}
 {%if dish%}
    <h1>Блюдо на заказ {{dish.name|upper}}</h1>
      <p>Цена: {{ dish.price }} ₽</p>
        <p>Добавлено: {{ dish.created_at|date:'d.m.Y' }}</p>

        {# ✅ Добавьте сюда форму, если её тут не было #}
        <form action="{% url 'add' dish.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">В корзину</button>
        </form>
    {% else %}
    <h1>нет такого</h1>
    {%endif%}
    {%endblock%}